registry=https://registry.npmjs.org/
# strict-peer-dependencies=false
enable-pre-post-scripts=true
auto-install-peers=false
# dedupe-peer-dependents 选项能极大的解决分身问题。分身问题会导致重复打包和单例模式破坏等。
dedupe-peer-dependents=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@types*
public-pattern[]=tslib
