# strict-peer-dependencies=false
enable-pre-post-scripts=true
auto-install-peers=false
dedupe-peer-dependents=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@types*
public-pattern[]=tslib